<header id="main-header">
  <div>
    <a href="/dashboard"> <img id="logo" src="logo.png" alt="logo"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/reviews">My Reviews</a>
      </li>
      <li>
        <a href="/add-review">Add Review</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>

