<header id="main-header">
  <div class="header-left">
    <a href="/dashboard">
      <img id="logo" src="/uploads/logo.png" alt="logo">
    </a>
  </div>
  <div class="search-container">
    <form action="/search" method="GET" autocomplete="off">
      <input type="text" name="query" placeholder="Search for Movie or Video Game" class="search-input" id="search-input">
      <img src="/uploads/magnifying-glass.png" alt="Search" class="magnifying-glass-inside">
      <ul class="suggestions-list" id="suggestions-list"></ul>
    </form>
  </div>
  <nav id="nav-links">
    <ul>
      <% if (isLoggedIn) { %>
        <li><a href="/add-review">Add Review</a></li>
        <li><a href="/reviews">My Reviews</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else {%>
        <li><a href="/register">Register an account</a></li>
      <% }%>
    </ul>
  </nav>

  <style>
  </style>
</header>
