<header id="main-header">
  <div id="logo">
    <a href="/dashboard">MediaSpy</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/reviews">My Reviews</a>
      </li>
      <li>
        <a href="/add-review">Add Review</a>
      </li>
    </ul>
  </nav>
</header>