<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'login'}) %>
</head>
<body>
    <header>
        <%- include('includes/header')%>
    </header>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
        <p>Back to <a href="/register">Register</a></p>
    </div>
    
</body>
</html>