<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title:'Register'}) %>
</head>
<body>
    <%- include('includes/header')%>
    <div class="container">
        <h1>Register an account</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Register</button>
        </form>
        <p>Back to <a href="/login">Login</a></p>
    </div>
</body>
</html>
