/* Default styles */
:root {
    --primary-purple: #8765cb;
    --primary-blue: #1587bf;
    --primary-yellow: #ffec6e;
    --primary-font: 'Poppins', sans-serif;
}

/* Main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body main {
    margin: 30px 8%;
}

.container {
    margin-top: 50px;
    text-align: center;
}

/* Navigation Bar */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-header {
    padding: 1.25rem 8%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header nav a {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
}

#nav-links ul {
    display: flex;
}

#nav-links li {
    margin-left: 1.5rem;
}

#main-header nav a:hover,
#main-header nav a:active {
    background-color: var(--primary-yellow);
    text-decoration: none;
}

/* Heading styles */

#logo {
    width: 250px;
    height: auto;
}

h1 {
    font-size: 32px;
    color: black;
}

h2 {
    margin: 10px 0;
}

p {
    color: black;
    font-size: 14px;
}

/* Form fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #8765cb;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font: var(--primary-font);
}

button:hover {
    background-color: #7a54b0;
}

/* Link styling */
a {
    color: #1587bf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form styles */
form {
    max-width: 30rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
}

input,
textarea,
select {
    font: inherit;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

input:focus,
textarea:focus {
    background-color: rgb(217, 234, 247);
}

input,
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* Filter Styling */
.titleFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainFilter {
    all: unset;
    padding: 0px 3px;
}

.filter {
    width: 150px;
}

.filter option {
    width: 150px;
}

/* General Container */
.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.review-poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Review scrolling feature */
.reviews-container {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    margin: 20px 0;
}

/* Review Card Styling */
.review-card {
    flex: 0 0 300px;
    background: #fff;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    scroll-snap-align: start;
    margin-bottom: 15px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.review-card:hover {
    text-decoration: none;
    background-color: #f4eaff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Review Image */
.review-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

/* Review Content */
.review-content {
    margin-top: 15px;
}

.review-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.review-category {
    font-size: 1rem;
    color: #6c757d;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Scrollbar Customisation */
.reviews-container::-webkit-scrollbar {
    height: 8px;
}

.reviews-container::-webkit-scrollbar-thumb {
    background-color: #8765cb;
    border-radius: 4px;
    margin-top: 5px;
}

.reviews-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* My-Review styling */
.personal-review {
    padding: 2rem;
    margin: 25px auto;
    width: 40%;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.personal-review p {
    margin: 10px 0;
}

#my-review-div {
    margin-top: 10px;
}

#my-review-div p {
    font-size: 1.25rem;
}

.my-review-details {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
}

#my-review-content {
    padding: 10px;
}

#reviewName {
    text-align: center;
}

#name_theme {
    color: var(--primary-blue);
}

.high-rating {
    background-color: rgb(3, 139, 3);
}

.medium-rating {
    background-color: rgb(232, 132, 1);
}

.low-rating {
    background-color: rgb(255, 22, 22);
}

.revRating {
    color: white;
    padding: 6px 18px;
    border-radius: 4px;
    align-items: center;
}

.revRating.high-rating {
    background-color: green;
}

.my-review-buttons {
    display: block;
}

.my-review-buttons button {
    margin: 5px 0;
}

#delete {
    background-color: #fa3e3e;
}

#delete:hover {
    background-color: #f72424;
}

/* Suggestions styling */
.search-container {
    flex-grow: 1;
    margin: 0 1.5rem;
    position: relative;
}

.search-container form {
    all: unset;
    display: flex;
    position: relative;
}

.search-container form input {
    all: unset;
    background-color: white;
    flex-grow: 1;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    padding-right: 40px;
    border: 1px solid black;
}

.search-container input:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.magnifying-glass-inside {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.suggestions-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 1000;
}

.suggestions-list li {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    transition: background-color 0.3s;
}

.suggestions-list li:last-child {
    border-bottom: none;
}
.suggestions-list img {
    width: 60px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.suggestions-list .suggestion-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-list .suggestion-details .title {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.suggestions-list .suggestion-details .info {
    font-size: 13px;
    color: #666;
    display: block;
}

.suggestions-list li:hover {
    background-color: #f4eaff;
}

.suggestion-type {
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    border: 1px solid black;
    max-width: max-content;
}

.titleType {
    display: flex;
    align-items: center;
}

.suggestionRating {
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
